@*
    Task Table Component
    4/4/2026
    ======================================
    - Initial component creation
    - Added Task Progress Bar
    - Added Preloading Spinner and delay to ensure the data is loaded before the grid is refreshed
    ======================================
*@

@using BlazorBootstrap
@using DataLibrary.Models
@using DataLibrary.ServiceLayer.TaskService

@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject ITaskService _task

<!-- Preload Spinner -->
<Preload LoadingText=""/>

<div class="component-container">

    <div class="progress-bar">

        <!-- Progress Bar for Showing Percentage of Task Completion -->
        <Progress Class="mb-3">
            <ProgressBar @ref="progressBar" Width="@((completedTasks / allTasks) * 100)" Label="@($"{(int)((completedTasks / allTasks) * 100)}%")" Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Dark" />
        </Progress>

    </div>   

    <div class="task-table-container">

        <!-- Task Table Container -->
        <div class="table-container">

            <!-- Table of Task objects -->
            <Grid TItem="NsTask"
                  @ref="grid"
                  AllowFiltering="true"
                  AllowPaging="true"
                  AllowSorting="true"
                  AllowRowClick="true"
                  OnRowDoubleClick="OnRowDoubleClick"
                  Class="table table-hover table-bordered table-striped"
                  DataProvider="TasksDataProvider"
                  PageSize="10"
                  Responsive="true"
                  RowKeySelector="(task) => task.TaskId">

                <GridColumns>
                    <!-- Task Number Column -->
                    <GridColumn TItem="NsTask" HeaderText="Task Number" PropertyName="TaskNumber" SortKeySelector="item => item.TaskNumber">
                        @context.TaskNumber
                    </GridColumn>

                    <!-- Description Column -->
                    <GridColumn TItem="NsTask" HeaderText="Description" PropertyName="Description" SortKeySelector="item => item.Description">
                        @context.Description
                    </GridColumn>

                    <!-- Status Column -->
                    <GridColumn TItem="NsTask" HeaderText="Status" PropertyName="IsComplete" SortKeySelector="item => item.IsComplete" Class="text-center">
                        <span @onclick="async () => { await ToggleStatus(context); }">
                            @(context.IsComplete ? "Completed" : "Incomplete")
                        </span>
                    </GridColumn>

                </GridColumns>

            </Grid>

        </div>

        <div class="buttons">

            <!-- Add a New Task -->
            <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To=@($"/add-task/{Category}")>Add Task</Button>

            <!-- Refresh the Grid -->
            <Button Color="ButtonColor.Secondary" @onclick="@OnParametersSetAsync">Refresh</Button>

        </div>

    </div>

</div>


@code {
    [Inject]
    protected PreloadService PreloadService { get; set; } = default!; 

    [Parameter, EditorRequired]
    public Guid FuneralId { get; set; }

    [Parameter, EditorRequired]
    public string Category { get; set; }

    ProgressBar progressBar = default!;

    private double completedTasks = 0;
    private double allTasks = 1;

    #region [GRID]

    private List<NsTask> Tasks = new();
    private BlazorBootstrap.Grid<NsTask>? grid;

    // Populate the grid with tasks
    private async Task<GridDataProviderResult<NsTask>> TasksDataProvider(GridDataProviderRequest<NsTask> request) => await Task.FromResult(request.ApplyTo(Tasks));

    // On Clicking a row in the table, navigate to the details page of that corresponding Task
    private async Task OnRowDoubleClick(GridRowEventArgs<NsTask> args) => _nav.NavigateTo($"/task/{args.Item.TaskId}");

    #endregion

    protected override async Task OnParametersSetAsync()
    {
        // Show loading spinner
        PreloadService.Show(SpinnerColor.Dark);

        // Wait until the parameters are set
        await base.OnParametersSetAsync();

        // Fetch the tasks for this category and Funeral
        Tasks = await _task.GetTasksByCategory(FuneralId, Category);

        CountTasks();

        // A short pause to ensure the task data loads before the grid is refreshed
        await Task.Delay(400);

        // Refresh the grid
        if (grid is not null)
            await grid.RefreshDataAsync();

        // Hide loading spinner
        PreloadService.Hide();

        // Rerender the page
        await InvokeAsync(StateHasChanged);
    }

    private async Task ToggleStatus(NsTask togglableTask)
    {
        if (togglableTask.IsComplete)
            togglableTask.CompletionDate = null;
        else
            togglableTask.CompletionDate = DateTime.Now;

        togglableTask.IsComplete = !togglableTask.IsComplete;

        CountTasks(); 
        await _task.UpdateTask(togglableTask);
        StateHasChanged();
    }

    private void CountTasks()
    {
        if (Tasks.Count() != 0)
        {
            // If there are tasks, get the number of completed tasks and number of all tasks
            completedTasks = Tasks.Where(t => t.IsComplete == true).Count();
            allTasks = Tasks.Count();
        }        
    }
}
