@*
    Contact Add/Modify Page
    3/28/2026
    ======================================
    - Initial page creation
    ======================================
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.ContactService;
@using DataLibrary.ServiceLayer.FuneralService;
@using DataLibrary.ServiceLayer.NoteService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject IContactService _contact
@inject IFuneralService _funeral
@inject INoteService _notes

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/add-contact"
@page "/contact/{contactId:guid}"

<!-- Screen Message Modal -->
<ScreenModal @ref="modal" TitleText="@modalTitle" BodyText="@modalBody" URL="@modalURL" />


<!-- Modal for view Notes attached to the Contact -->
<Modal @ref="notesModal" Title="@(newNote ? "New Note" : "Contact Note")"
       IsVerticallyCentered
       Size="ModalSize.Large"
       Class="note-modal">
    <BodyTemplate>

        @if (newNote)
        {
            <div class="modal-body">
                <textarea class="notes-desc-input"
                @bind="newNoteText"
                rows="8" />
            </div>
        }
        else
        {
            <div class="modal-body">
                <textarea class="notes-desc-input"
                @bind="selectedNote.NoteText"
                rows="8" />
            </div>

            <div class="modal-body">
                <label>Creation Date:</label>
                <span>@selectedNote.CreationDate.ToString("dd MMM yyyy HH:mm")</span>
            </div>
        }

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

        @if (newNote)
        {
            <Button Color="ButtonColor.Primary" @onclick="HandleAttachNote">Save</Button>
        }
        else
        {
            <Button Color="ButtonColor.Danger" @onclick="HandleNoteDeletion">Delete</Button>
        }

    </FooterTemplate>
</Modal>


<!-- Modal for Confirming the Deletion of the Task -->
<Modal @ref="confirmationModal" Title="Confirm Deletion?"
IsVerticallyCentered
Size="ModalSize.Regular">
    <BodyTemplate>

        <div class="modal-body">
            <span>Please confirm that you would like to delete this contact. This action cannot be undone.</span>
        </div>

    </BodyTemplate>
    <FooterTemplate>

        <Button Color="ButtonColor.Secondary" @onclick="confirmationModal.HideAsync">Cancel</Button>

        <Button Color="ButtonColor.Danger" @onclick="HandleTaskDeletion">Delete</Button>

    </FooterTemplate>
</Modal>


<div class="page-container" style="display: flex; width: 100%;  height: 85vh;">

    <div class="contact-details" style=" width: 70%; border-right: 1px solid midnightblue; height: 100%">

        @if (contactId is null)
        {
            <h3>Add Contact</h3>
        }
        else
        {
            <h3>Contact Details</h3>
        }

        <table style="width: 98%;">

            <colgroup>
                <col span="1" style="width: 30%" />
            </colgroup>
            <colgroup>
                <col span="1" style="width: 70%" />
            </colgroup>


            <!-- CONTACT NAME -->
            <tr>
                <td style="display: flex; vertical-align: top;">
                    <label>Contact Name</label>
                </td>

                <td>
                    <!-- Input field for the Contact Name -->
                    <input type="text"
                    @bind="contact.ContactName" />
                </td>
            </tr>

            <!-- CONTACT TYPE -->
            <tr>
                <td>
                    <label>Contact Type</label>
                </td>

                <td>
                    <!-- Selection menu for the Task Status -->
                    <InputSelect style="height: 4vh; width: 15%" @bind-Value="@contact.ContactType">

                        @if (contactId is null)
                        {
                            <option disabled selected>Select a Contact Type...</option>
                        }
                        @foreach (var type in ContactTypes)
                        {
                            <option>@type</option>
                        }

                    </InputSelect>
                </td>
            </tr>

            @if (contact.ContactType == "Vendor")
            {
                <!-- VENDOR TYPE -->
                <tr>
                    <td>
                        <label>Vendor Type</label>
                    </td>

                    <td>
                        <!-- Selection menu for the Task Status -->
                        <InputSelect style="height: 4vh; width: 15%" @bind-Value="@contact.VendorType">

                            @if (contactId is null)
                            {
                                <option disabled selected>Select a Vendor Type...</option>
                            }
                            @foreach (var type in VendorTypes)
                            {
                                <option>@type</option>
                            }

                        </InputSelect>
                    </td>
                </tr>
            }

            <!-- CONTACT EMAIL -->
            <tr>
                <td>
                    <label>Email Address</label>
                </td>

                <td>
                    <input type="text"
                    @bind="contact.ContactEmail" />
                </td>
            </tr>

            <!-- CONTACT PHONE -->
            <tr>
                <td>
                    <label>Phone Number</label>
                </td>

                <td>
                    <input type="text"
                    @bind="contact.ContactPhone" />
                </td>
            </tr>

            <!-- GLOBAL FLAG -->
            <tr>
                <td>
                    <label>Make Contact Available Across All Funerals?</label>
                </td>

                <td class="radio-buttons">
                    <InputRadioGroup @bind-Value="contact.IsGlobal" TValue="bool" >
                        <div class="radio-option"> <InputRadio Value="true" /> Yes </div>
                        <div class="radio-option"> <InputRadio Value="false" /> No </div>
                    </InputRadioGroup>
                </td>
            </tr>

        </table>

        <div class="contact-buttons">

            <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" To="/contactbook">Back</Button>

            @if (contactId is not null)
            {
                <Button Color="ButtonColor.Danger" @onclick="HandleContactDeletionConfirmation">Delete Contact</Button>
            }

            <Button Color="ButtonColor.Primary" @onclick="HandleSave">Save Contact</Button>

        </div>
    </div>

    <div class="notes-section" style="width: 30%; padding-left: 20px; height: 100%;">
        <div class="notes-table" style="max-height: 95%; overflow: auto; background-color: lightgray">

            <!-- Table of Notes for this Task-->
            <Grid TItem="Note"
            @ref="grid"
            AllowSorting="true"
            AllowRowClick="true"
            OnRowDoubleClick="OnRowDoubleClick"
            Class="table table-hover table-bordered table-striped"
            DataProvider="TasksDataProvider"
            Responsive="true"
            RowKeySelector="(note) => note.NoteId">

                <GridColumns>

                    <!-- Note Text Column -->
                    <GridColumn TItem="Note" HeaderText="Note Text" PropertyName="NoteText" SortKeySelector="item => item.NoteText" Class="note-col">
                        @context.NoteText
                    </GridColumn>

                    <!-- CreationDate Column -->
                    <GridColumn TItem="Note" HeaderText="Date" PropertyName="CreationDate" SortKeySelector="item => item.CreationDate" Class="date-col">
                        @(context.CreationDate.ToString("dd MMM yyyy HH:mm"))
                    </GridColumn>

                </GridColumns>

            </Grid>

        </div>

        <div class="notes-buttons">
            <Button Color="ButtonColor.Secondary" @onclick="() => OnShowModalClick(true)">Attach Note</Button>
        </div>

    </div>

</div>

@code {
    [Parameter]
    public Guid? contactId { get; set; }

    private Contact contact = new();
    private string contactType = "Uncategorized";
    private List<string> ContactTypes = new List<string>
    {
        "Family",
        "Vendor",
        "Medical",
        "Legal"
    };

    private List<string> VendorTypes = new List<string>
    {
        "Florist",
        "Photography",
        "Catering",
        "Music"
    };

    private User currentUser = new();
    private Funeral currentFuneral = new();

    #region[MODAL]
    private ScreenModal modal = default!;
    private Modal confirmationModal = default!;
    private string modalTitle = string.Empty;
    private string modalBody = string.Empty;
    private string modalURL = string.Empty;
    #endregion

    #region [GRID]

    private BlazorBootstrap.Grid<Note>? grid;

    private List<Note> Notes = new();
    private List<Note> NewNotes = new();

    private Note selectedNote = new();

    private async Task<GridDataProviderResult<Note>> TasksDataProvider(GridDataProviderRequest<Note> request) => await Task.FromResult(request.ApplyTo(Notes));

    // On Clicking a row in the table, open a modal displaying the details of the Note
    private async Task OnRowDoubleClick(GridRowEventArgs<Note> args)
    {
        selectedNote = args.Item;
        await OnShowModalClick(false);
    }

    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await _storage.GetAsync<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
                _nav.NavigateTo("/");

            currentFuneral = await _storage.GetAsync<Funeral>("currentFuneral") ?? new();

            // If a TaskId was passed in through the URL, use it to pull the Task object
            if (contactId is not null)
            {
                // Fetch the Task details
                contact = await _contact.GetContact(contactId ?? Guid.Empty) ?? new();

                // Fetch the notes attached to this contact
                Notes = await _notes.GetNotes(contactId ?? Guid.Empty);

                // Refresh the Notes grid
                if (grid is not null)
                    await grid.RefreshDataAsync();
            }

            StateHasChanged();
        }
    }

    // Create or Update the Contact
    private async Task HandleSave()
    {
        // Display an error message to the user if they attempt to save a Contact without entering a name
        if (string.IsNullOrWhiteSpace(contact.ContactName))
        {
            modalTitle = "Error";
            modalBody = "Contact name cannot be empty. Please enter a name and try again.";
            await modal.OnShowModalClick();
            return;
        }
        else if (string.IsNullOrWhiteSpace(contact.ContactType))
        {
            modalTitle = "Error";
            modalBody = "Contact type cannot be empty. Please enter a type and try again.";
            await modal.OnShowModalClick();
            return;
        }

        Contact? result = null;

        // If the contact type is not vendor, be sure to remove the vendor type
        if (contact.ContactType != "Vendor")
            contact.VendorType = null;

        if (contactId is null)
        {
            // If the user selected for the contact to be available across all funerals, add the current funeral id
            if (!contact.IsGlobal)
                contact.FuneralId = currentFuneral.FuneralId;
            
            // Set the user id
            contact.UserId = currentUser.UserId;

            // Create the Contact
            result = await _contact.CreateContact(contact);
        }
        else
        {
            // Update the Contact
            result = await _contact.UpdateContact(contact);
        }

        if (result is not null)
        {
            // Update the number of contacts for the funeral if the contact is new
            if (contactId is null)
            {
                currentFuneral = await _funeral.UpdateTaskNumber(currentFuneral) ?? new();
                await _storage.SetAsync("currentFuneral", currentFuneral);
            }

            // Display success message to user and redirect them back to the category page
            modalTitle = "Save Successful";
            modalBody = "The contact has been saved successfully.";
            modalURL = $"/contactbook";
            await modal.OnShowModalClick();
        }
        else
        {
            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the contact was not saved.";
            await modal.OnShowModalClick();
        }
    }

    private async Task HandleContactDeletionConfirmation() => await confirmationModal.ShowAsync();

    private async Task HandleTaskDeletion()
    {
        await confirmationModal.HideAsync();

        var result = await _contact.DeleteContact(contactId ?? Guid.Empty);

        if (result)
        {   // Contact Deletion Successful

            // Display confimation message to user
            modalTitle = "Deletion Confirmed";
            modalBody = "The contact has been deleted.";
            modalURL = $"/contactbook";
            await modal.OnShowModalClick();
        }
        else
        {   // Task Deletion Failed

            // Contact error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the contact was not deleted.";
            await modal.OnShowModalClick();
        }
    }

    #region[NOTE/MODAL METHODS]

    private Modal notesModal = default!;
    private bool newNote = false;
    private string newNoteText = string.Empty;

    // Show Notes modal, passed boolean determines if it is a Create Note modal or View/Delete Note modal
    public async Task OnShowModalClick(bool isNew)
    {
        if (isNew)
            newNote = true;
        else
            newNote = false;

        await notesModal.ShowAsync();
    }

    // Close Notes modal
    private async Task OnHideModalClick()
    {
        newNoteText = string.Empty;
        await notesModal.HideAsync();
    }

    // Create a Note
    private async Task HandleAttachNote()
    {
        // Display an error message to the user if they attempt to save a note without entering any text
        if (string.IsNullOrWhiteSpace(newNoteText))
        {
            modalTitle = "Error";
            modalBody = "Note cannot be empty. Please enter a note and try again.";
            modalURL = string.Empty;
            await modal.OnShowModalClick();
            return;
        }

        // Create or Update the Task
        var result = await _notes.CreateNote
        (
            new Note
            {
                NoteText = newNoteText,
                ObjectId = contact.ContactId
            }
        );

        if (result is not null)
        {
            // Hide the modal
            await OnHideModalClick();

            // Add the New note to the Notes grid
            Notes.Add(result);

            // Refresh the grid
            if (grid is not null)
                await grid.RefreshDataAsync();
        }
        else
        {
            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the note was not saved.";
            await modal.OnShowModalClick();
        }
    }

    // Delete a Note
    private async Task HandleNoteDeletion()
    {
        // Delete the selected Note
        var result = await _notes.DeleteNote(selectedNote.NoteId);

        // Hide the Note Modal
        await notesModal.HideAsync();

        if (result)
        {   // Note Deletion Successful

            //Remove the note from the table
            Notes.Remove(selectedNote);

            // Refresh the grid
            if (grid is not null)
                await grid.RefreshDataAsync();

            // Display confimation message to user
            modalTitle = "Deletion Confirmed";
            modalBody = "The note has been deleted.";
            await modal.OnShowModalClick();
        }
        else
        {   // Note Deletion Failed

            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the note was not deleted.";
            await modal.OnShowModalClick();
        }
    }

    #endregion

}