@*
    Contact Add/Modify Page
    4/4/2026
    ======================================
    - Initial page creation
    - Added input field for Location
    ======================================
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.ContactService;
@using DataLibrary.ServiceLayer.FuneralService;
@using DataLibrary.ServiceLayer.NoteService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject IContactService _contact
@inject IFuneralService _funeral
@inject INoteService _notes

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/add-contact"
@page "/contact/{contactId:guid}"

<!-- Screen Message Modal -->
<ScreenModal @ref="modal" TitleText="@modalTitle" BodyText="@modalBody" URL="@modalURL" />


<!-- Modal for view Notes attached to the Contact -->
<Modal @ref="notesModal" Title="@(newNote ? "New Note" : "Contact Note")"
       IsVerticallyCentered
       Size="ModalSize.Large"
       Class="note-modal">

    <BodyTemplate>

        @if (newNote)
        {   <!-- Input area for note text -->
            <div class="modal-body">
                <textarea class="notes-desc-input"
                @bind="newNoteText"
                rows="8" />
            </div>
        }
        else
        {   <!-- If this is an existing note, display the note text as read-only -->
            <div class="modal-body">
                <textarea class="notes-desc-input"
                @bind="selectedNote.NoteText"
                readonly
                rows="8" />
            </div>
            
            <!-- Display the date and time the note was created -->
            <div class="modal-body">
                <label>Creation Date:</label>
                <span>@selectedNote.CreationDate.ToString("dd MMM yyyy HH:mm")</span>
            </div>
        }

    </BodyTemplate>

    <FooterTemplate>

        <!-- Close Button -->
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

        @if (newNote)
        {
            <!-- Save Note Button -->
            <Button Color="ButtonColor.Primary" @onclick="HandleAttachNote">Save</Button>
        }
        else
        {
            <!-- Delete Note Button -->
            <Button Color="ButtonColor.Danger" @onclick="HandleNoteDeletion">Delete</Button>
        }

    </FooterTemplate>
</Modal>


<!-- Screen Message Modal for confirming deletion -->
<DecisionModal @ref="confirmationModal"
               TitleText="Confirm Deletion?"
               MiddleText="Please confirm that you would like to delete this contact. This action cannot be undone."
               Buttons="@modalButtons" />


<div class="page-container" style="display: flex; width: 100%;  height: 85vh;">

    <!-- Contact Details Section - Left Side of Screen -->
    <div class="contact-details" style=" width: 70%; border-right: 1px solid midnightblue; height: 100%">

        <!-- Page Title -->
        @if (contactId is null)
        {
            <h3>Add Contact</h3>
        }
        else
        {
            <h3>Contact Details</h3>
        }

        <!-- Table for formatting the input fields for Contact Details -->
        <table style="width: 98%;">

            <colgroup>
                <col span="1" style="width: 30%" />
            </colgroup>
            <colgroup>
                <col span="1" style="width: 70%" />
            </colgroup>

            <!-- CONTACT NAME -->
            <tr>
                <td>
                    <label>Contact Name</label>
                </td>

                <td>
                    <!-- Input field for the Contact Name -->
                    <input type="text"
                    @bind="contact.ContactName"
                           style="width:50%" />
                </td>
            </tr>

            <!-- CONTACT TYPE -->
            <tr>
                <td>
                    <label>Contact Type</label>
                </td>

                <td>
                    <!-- Selection menu for the Contact Type -->
                    <InputSelect style="height: 4vh; width: 50%" @bind-Value="@contact.ContactType">

                        @if (contactId is null)
                        {
                            <option disabled selected>Select a Contact Type...</option>
                        }
                        @foreach (var type in ContactTypes)
                        {
                            <option>@type</option>
                        }
                    </InputSelect>
                </td>
            </tr>

            @* If the selected contact type is "Vendor", provide another filter for specifying vendor type *@
            @if (contact.ContactType == "Vendor")
            {
                <!-- VENDOR TYPE -->
                <tr>
                    <td>
                        <label>Vendor Type</label>
                    </td>

                    <td>
                        <!-- Selection menu for the Vendor Type -->
                        <InputSelect style="height: 4vh; width: 50%" @bind-Value="@contact.VendorType">

                            @if (contactId is null)
                            {
                                <option disabled selected>Select a Vendor Type...</option>
                            }
                            @foreach (var type in VendorTypes)
                            {
                                <option>@type</option>
                            }

                        </InputSelect>
                    </td>
                </tr>
            }

            <!-- CONTACT EMAIL -->
            <tr>
                <td>
                    <label>Email Address</label>
                </td>

                <td>
                    <div>

                        <!-- Input field for contact's email address -->
                        <input type="text"
                               @bind="contact.ContactEmail"
                               style="width:50%" />

                        @* If there is an email address in the input field, display a button with a mailto link *@
                        @if (contactId is not null && contact.ContactEmail is not null && contact.ContactEmail != "")
                        {
                            <Button Type="ButtonType.Link" style="margin-left: 10px; width: 120px;" TooltipTitle="Send an email via your default mail app" Color="ButtonColor.Secondary" To=@($"mailto:{contact.ContactEmail}?")>Send Email</Button>
                        }

                    </div>
                    
                </td>
            </tr>

            <!-- CONTACT PHONE -->
            <tr>
                <td>
                    <label>Phone Number</label>
                </td>

                <td>
                    <div>

                        <!-- Input field for contact's phone number -->
                        <input type="text"
                               @bind="contact.ContactPhone"
                               style="width:50%" />

                        @* If there is a phone number in the input field, display a button with a tel link *@
                        @if (contactId is not null && contact.ContactPhone is not null && contact.ContactPhone != "")
                        {
                            <Button Type="ButtonType.Link" style="margin-left: 10px; width: 120px;" TooltipTitle="Requires an external app for phone calls" Color="ButtonColor.Secondary" To=@($"tel:{contact.ContactPhone}?")>Call</Button>
                        }

                    </div>
                </td>
            </tr>

            <!-- CONTACT LOCATION -->
            <tr>
                <td>
                    <label>Location</label>
                </td>

                <td>
                    <!-- Input field for contact's location/address -->
                    <input type="text"
                           @bind="contact.Location"
                           style="width:50%" />
                </td>
            </tr>

            <!-- GLOBAL FLAG -->
            <tr>
                <td>
                    <label>Make Contact Available Across All Funerals?</label>
                </td>

                <!-- Radio buttons for setting the global flag -->
                <td class="radio-buttons">
                    <InputRadioGroup @bind-Value="contact.IsGlobal" TValue="bool" >
                        <div class="radio-option"> <InputRadio Value="true" /> Yes </div>
                        <div class="radio-option"> <InputRadio Value="false" /> No </div>
                    </InputRadioGroup>
                </td>
            </tr>

        </table>

        <div class="contact-buttons">

            <!-- Back Button to return to Contact Book -->
            <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" To="/contactbook">Back</Button>

            <!-- Delete Contact Button (if not a new contact) -->
            @if (contactId is not null)
            {
                <Button Color="ButtonColor.Danger" @onclick="async () => { await confirmationModal.OnShowModalClick(); }">Delete Contact</Button>
            }

            <!-- Save Contact Button -->
            <Button Color="ButtonColor.Primary" @onclick="HandleSave">Save Contact</Button>

        </div>

    </div>

    <!-- Notes Section - Right Side of Screen -->
    <div class="notes-section" style="width: 30%; padding-left: 20px; height: 100%;">

        <!-- Container for the Notes table -->
        <div class="notes-table" style="max-height: 95%; overflow: auto; background-color: lightgray">

            <!-- Table of Notes for this Task-->
            <Grid TItem="Note"
            @ref="grid"
            AllowSorting="true"
            AllowRowClick="true"
            OnRowDoubleClick="OnRowDoubleClick"
            Class="table table-hover table-bordered table-striped"
            DataProvider="TasksDataProvider"
            Responsive="true"
            RowKeySelector="(note) => note.NoteId">

                <GridColumns>

                    <!-- Note Text Column -->
                    <GridColumn TItem="Note" HeaderText="Note Text" PropertyName="NoteText" SortKeySelector="item => item.NoteText" Class="note-col">
                        @context.NoteText
                    </GridColumn>

                    <!-- CreationDate Column -->
                    <GridColumn TItem="Note" HeaderText="Date" PropertyName="CreationDate" SortKeySelector="item => item.CreationDate" Class="date-col">
                        @(context.CreationDate.ToString("dd MMM yyyy HH:mm"))
                    </GridColumn>

                </GridColumns>

            </Grid>

        </div>

        <!-- Attach Note Button -->
        <div class="notes-buttons">
            <Button Color="ButtonColor.Secondary" @onclick="() => OnShowModalClick(true)">Attach Note</Button>
        </div>

    </div>

</div>

@code {
    [Parameter]
    public Guid? contactId { get; set; }

    private Contact contact = new();
    private string contactType = "Uncategorized";

    // List of types of contact to be selected from
    private List<string> ContactTypes = new List<string>
    {
        "Family",
        "Vendor",
        "Medical",
        "Legal",
        "Other"
    };

    // List of types for if the contact type is Vendor
    private List<string> VendorTypes = new List<string>
    {
        "Florist",
        "Photography",
        "Catering",
        "Music",
        "Other"
    };

    private User? currentUser;
    private Funeral currentFuneral = new();

    #region[MODAL]
    private ScreenModal modal = default!;
    private DecisionModal confirmationModal = default!;
    private string modalTitle = string.Empty;
    private string modalBody = string.Empty;
    private string modalURL = string.Empty;

    // Buttons container for the deletion confirmation modal
    private Dictionary<string, (Func<Task>, BlazorBootstrap.ButtonColor)> modalButtons = new();

    #endregion

    #region [GRID]

    private BlazorBootstrap.Grid<Note>? grid;

    private List<Note> Notes = new();
    private List<Note> NewNotes = new();

    private Note selectedNote = new();

    // Populate the Notes table with the note objects
    private async Task<GridDataProviderResult<Note>> TasksDataProvider(GridDataProviderRequest<Note> request) => await Task.FromResult(request.ApplyTo(Notes));

    // On Clicking a row in the table, open a modal displaying the details of the Note
    private async Task OnRowDoubleClick(GridRowEventArgs<Note> args)
    {
        selectedNote = args.Item; 
        await OnShowModalClick(false);
    }

    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get the current user from browser storage
            currentUser = await _storage.GetFromStorage<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
                _nav.NavigateTo("/");

            // Get the current funeral from browser storage
            currentFuneral = await _storage.GetFromStorage<Funeral>("currentFuneral") ?? new();

            // If a TaskId was passed in through the URL, use it to pull the Task object
            if (contactId is not null)
            {
                // Fetch the Task details
                contact = await _contact.GetContact(contactId ?? Guid.Empty) ?? new();

                // Fetch the notes attached to this contact
                Notes = await _notes.GetNotes(contactId ?? Guid.Empty);

                // Set the buttons for the deletion confirmation modal
                modalButtons = new Dictionary<string, (Func<Task>, BlazorBootstrap.ButtonColor)>
                {
                    // Button for cancelling the deletion
                    ["Cancel"] =
                    (
                        async () => { await confirmationModal.OnHideModalClick(); },
                        ButtonColor.Secondary
                    ),

                    // Button for proceeding with the deletion
                    ["Delete"] =
                    (
                        async () => { await HandleContactDeletion(); await confirmationModal.OnHideModalClick(); },
                        ButtonColor.Danger
                    )
                };

                // Refresh the Notes grid
                if (grid is not null)
                    await grid.RefreshDataAsync();
            }

            // Rerender the page
            StateHasChanged();
        }
    }

    // Create or Update the Contact
    private async Task HandleSave()
    {
        // Display an error message to the user if they attempt to save a Contact without entering a name
        if (string.IsNullOrWhiteSpace(contact.ContactName))
        {
            modalTitle = "Error";
            modalBody = "Contact name cannot be empty. Please enter a name and try again.";
            await modal.OnShowModalClick();
            return;
        }
        // Display an error message to the user if they attempt to save a Contact without selecting a contact type
        else if (string.IsNullOrWhiteSpace(contact.ContactType))
        {
            modalTitle = "Error";
            modalBody = "Contact type cannot be empty. Please enter a type and try again.";
            await modal.OnShowModalClick();
            return;
        }

        Contact? result = null;

        // If the contact type is not vendor, be sure to remove the vendor type
        if (contact.ContactType != "Vendor")
            contact.VendorType = null;

        if (contactId is null)
        {
            // If the user selected for the contact to be available only to this funeral, add the current funeral id
            if (!contact.IsGlobal)
                contact.FuneralId = currentFuneral.FuneralId;
            
            // Set the user id
            contact.UserId = currentUser?.UserId ?? Guid.Empty;

            // Create the Contact
            result = await _contact.CreateContact(contact);
        }
        else
        {
            // Update the Contact
            result = await _contact.UpdateContact(contact);
        }

        if (result is not null)
        {
            // Display success message to user and redirect them back to the category page
            modalTitle = "Save Successful";
            modalBody = "The contact has been saved successfully.";
            modalURL = $"/contactbook";
            await modal.OnShowModalClick();
        }
        else
        {
            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the contact was not saved.";
            await modal.OnShowModalClick();
        }
    }

    // Handle contact deletion
    private async Task HandleContactDeletion()
    {
        // Delete the contact
        var result = await _contact.DeleteContact(contactId ?? Guid.Empty);

        if (result)
        {   // Contact Deletion Successful

            // Display confimation message to user
            modalTitle = "Deletion Confirmed";
            modalBody = "The contact has been deleted.";
            modalURL = $"/contactbook";
            await modal.OnShowModalClick();
        }
        else
        {   // Task Deletion Failed

            // Contact error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the contact was not deleted.";
            await modal.OnShowModalClick();
        }
    }

    #region[NOTE/MODAL METHODS]

    private Modal notesModal = default!;
    private bool newNote = false;
    private string newNoteText = string.Empty;

    // Show Notes modal, passed boolean determines if it is a Create Note modal or View/Delete Note modal
    public async Task OnShowModalClick(bool isNew)
    {
        if (isNew)
            newNote = true;
        else
            newNote = false;

        await notesModal.ShowAsync();
    }

    // Close Notes modal
    private async Task OnHideModalClick()
    {
        newNoteText = string.Empty;
        await notesModal.HideAsync();
    }

    // Create a Note
    private async Task HandleAttachNote()
    {
        // Display an error message to the user if they attempt to save a note without entering any text
        if (string.IsNullOrWhiteSpace(newNoteText))
        {
            modalTitle = "Error";
            modalBody = "Note cannot be empty. Please enter a note and try again.";
            modalURL = string.Empty;
            await modal.OnShowModalClick();
            return;
        }

        // Create or Update the Task
        var result = await _notes.CreateNote
        (
            new Note
            {
                NoteText = newNoteText,
                ObjectId = contact.ContactId
            }
        );

        if (result is not null)
        {
            // Hide the modal
            await OnHideModalClick();

            // Add the New note to the Notes grid
            Notes.Add(result);

            // Refresh the grid
            if (grid is not null)
                await grid.RefreshDataAsync();
        }
        else
        {
            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the note was not saved.";
            await modal.OnShowModalClick();
        }
    }

    // Delete a Note
    private async Task HandleNoteDeletion()
    {
        // Delete the selected Note
        var result = await _notes.DeleteNote(selectedNote.NoteId);

        // Hide the Note Modal
        await notesModal.HideAsync();

        if (result)
        {   // Note Deletion Successful

            //Remove the note from the table
            Notes.Remove(selectedNote);

            // Refresh the grid
            if (grid is not null)
                await grid.RefreshDataAsync();

            // Display confimation message to user
            modalTitle = "Deletion Confirmed";
            modalBody = "The note has been deleted.";
            await modal.OnShowModalClick();
        }
        else
        {   // Note Deletion Failed

            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the note was not deleted.";
            await modal.OnShowModalClick();
        }
    }
    #endregion
}