@*
    Contact Book Page
    4/5/2026
    ======================================
    - Initial page creation
    - Added button to navigate to Search for Vendors page
    - Added filters
    ======================================
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.FuneralService;
@using DataLibrary.ServiceLayer.UserService;
@using DataLibrary.ServiceLayer.ContactService;
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject IFuneralService _funeral
@inject IUserService _user
@inject IContactService _contact

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/contactbook"

<!-- Preload Spinner -->
<Preload LoadingText="" />

<div class="page-container">

    <div class="header-row">

        <!-- Page Headers -->
        <h1>Contact Book</h1>

        <!-- Back button to return to category selection/funeral landing page -->
        <Button Type="ButtonType.Link" style="font-size: 18px" To="/funeral">Back to Category Selection</Button>

    </div>

    <div class="filter-row">

        <!-- CONTACT TYPE -->
        <div class="contact-filter">
            <label>Contact Type</label>

            <!-- Selection menu for the Contact Types -->
            <select @onchange="HandleContactTypeSelection">
                <option selected>All Contact Types</option>

                @foreach (var type in ContactTypes)
                {
                    <option>@type</option>
                }
            </select>
        </div>

        @* If the selected contact type is Vendor, show the vendor type filter *@
        @if (selectedContactType == "Vendor")
        {
            <!-- VENDOR TYPE -->
            <div class="vendor-filter">

                <label>Vendor Type</label>
           
                <!-- Selection menu for the Vendor Types -->
                <select @onchange="HandleVendorTypeSelection">
                    <option selected>All Vendors</option>

                    @foreach (var type in VendorTypes)
                    {
                        <option>@type</option>
                    }
                </select>

            </div>
        }
    </div>

    <!-- Table of Contact objects -->
    <Grid TItem="Contact"
          @ref="grid"
          AllowFiltering="true"
          AllowPaging="true"
          AllowSorting="true"
          AllowRowClick="true"
          OnRowDoubleClick="OnRowDoubleClick"
          Class="table table-hover table-bordered table-striped"
          DataProvider="ContactsDataProvider"
          PageSize="10"
          Responsive="true">

        <GridColumns>
            <!-- Contact Name Column -->
            <GridColumn TItem="Contact" HeaderText="Name" PropertyName="ContactName" SortKeySelector="item => item.ContactName" Class="name-col">
                @context.ContactName
            </GridColumn>

            <!-- Location Column -->
            <GridColumn TItem="Contact" HeaderText="Location" PropertyName="Location" SortKeySelector="item => item.Location" Class="location-col">
                @context.Location
            </GridColumn> 
            
            <!-- Contact Type Column -->
            <GridColumn TItem="Contact" HeaderText="Type" PropertyName="ContactType" SortKeySelector="item => item.ContactType" Class="type-col text-center">
                @context.ContactType
            </GridColumn>
            
        </GridColumns>

    </Grid>

   <div class="buttons">

       <!-- Add a New Contact -->
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/add-contact">Add Contact</Button>

        <!-- Add New Contacts Via Search -->
        <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/add-vendors-search">Search for Vendors</Button>

        <!-- Refresh the Grid -->
        <Button Color="ButtonColor.Secondary" @onclick="@(async () => { await OnAfterRenderAsync(true); })">Refresh</Button>

   </div>

</div>

@code {
    [Inject]
    protected PreloadService PreloadService { get; set; } = default!;

    private List<Contact> Contacts = new();

    private User? currentUser;
    private Funeral currentFuneral = new();

    #region [FILTER]

    private string selectedContactType = "All Contact Types";
    private string selectedVendorType = "All Vendors";

    // List of types of contact to be filter on
    private List<string> ContactTypes = new List<string>
    {
        "Family",
        "Vendor",
        "Medical",
        "Legal",
        "Other"
    };

    // List of types to filter on if the contact type is Vendor
    private List<string> VendorTypes = new List<string>
    {
        "Florist",
        "Photography",
        "Catering",
        "Music",
        "Other"
    };

    #endregion

    #region [GRID]

    private BlazorBootstrap.Grid<Contact>? grid;

    // Populate the table with the contacts
    private async Task<GridDataProviderResult<Contact>> ContactsDataProvider(GridDataProviderRequest<Contact> request) => await Task.FromResult(request.ApplyTo(ApplyFilters()));

    // Upon clicking a row, navigate the user to the corresponding contact's detail page
    private async Task OnRowDoubleClick(GridRowEventArgs<Contact> args) => _nav.NavigateTo($"/contact/{args.Item.ContactId}");

    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            PreloadService.Show(SpinnerColor.Dark);

            // Get the current user from browser storage
            currentUser = await _storage.GetFromStorage<User>("currentUser") ?? new();
            // Get the current funeral from browser storage
            currentFuneral = await _storage.GetFromStorage<Funeral>("currentFuneral") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get all of the user's contacts that are either global or associated with this funeral
                Contacts = await _contact.GetContacts(currentUser?.UserId ?? Guid.Empty, currentFuneral.FuneralId);

                // A short pause to ensure the contact data loads before the grid is refreshed
                await Task.Delay(400);

                // Refresh the grid
                if(grid is not null)
                    await grid.RefreshDataAsync();
            }
            PreloadService.Hide();
        }
    }

    #region[FILTER METHODS]

    // Apply the selected filters and return the data to the grid
    private List<Contact> ApplyFilters()
    {
        return Contacts.Where(contact =>
            (selectedContactType == "All Contact Types" || contact.ContactType == selectedContactType) && // Filter out by selected contact type
            (selectedContactType != "Vendor" || (selectedVendorType == "All Vendors" || contact.VendorType == selectedVendorType)) // If selected contact type is Vendor, filter out by selected vendor type
        ).ToList();
    }

    // Event handler for when the user changes the contact type filter
    private async void HandleContactTypeSelection(ChangeEventArgs e)
    {
        // Set the contact type filter with the selected value
        selectedContactType = e.Value?.ToString() ?? "All Contact Types";

        // Reset the Vendor-Specific filter
        if (selectedContactType != "Vendors")
            selectedVendorType = "All Vendors";

        // Refresh the grid
        if (grid is not null)
            await grid.RefreshDataAsync();
    }

    // Event handler for when the user changes the vendor type filter
    private async void HandleVendorTypeSelection(ChangeEventArgs e)
    {
        // Set the Vendors filter with the selected value
        selectedVendorType = e.Value?.ToString() ?? "All Vendors";
        
        // Refresh the grid
        if (grid is not null)
            await grid.RefreshDataAsync();
    }

    #endregion
}