@*
    Funeral Landing Page
    3/28/2026
    ======================================
    - Initial page creation
    - Added Task Progress Bar
    ======================================
    Landing page navigated to after selecting a Funeral.
    Category selection page for a Funeral.
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.FuneralService;
@using DataLibrary.ServiceLayer.TaskService;
@using DataLibrary.ServiceLayer.UserService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject IFuneralService _funeral
@inject ITaskService _tasks
@inject IUserService _user

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/funeral"

<div class="page-container">

    <!-- Page Headers -->
    <h1>Funeral for @currentFuneral.DeceasedName</h1>

    <Button Type="ButtonType.Link" To="/funeral-selection">Back to Funeral Selection</Button>

    <!-- Progress Bar for Showing Percentage of Task Completion -->
    <Progress Class="mb-3">
        <ProgressBar Width="@(taskProgress)" Label="@($"{(int)taskProgress}%")" Type="ProgressType.StripedAndAnimated" />
    </Progress>

    <!-- Category Selection Icon Grid -->
    <div class="table-container">
        <table class="icon-grid">
            <tr>
                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/General Info"))">
                        <CardBody>
                            <Icon Name="IconName.InfoCircleFill" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/General Info">General Info</Button>
                        </CardBody>
                    </Card>
                </td>

                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/Vendors"))">
                        <CardBody>
                            <Icon Name="IconName.Shop" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/Vendors">Vendors</Button>
                        </CardBody>
                    </Card>
                </td>

                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/"))">
                        <CardBody>
                            <Icon Name="IconName.Box" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/client-info">Category</Button>
                        </CardBody>
                    </Card>
                </td>
            </tr>
            <tr>
                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/"))">
                        <CardBody>
                            <Icon Name="IconName.Box" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/client-info">Category</Button>
                        </CardBody>
                    </Card>
                </td>
                
                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/"))">
                        <CardBody>
                            <Icon Name="IconName.Box" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/client-info">Category</Button>
                        </CardBody>
                    </Card>
                </td>
                
                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/"))">
                        <CardBody>
                            <Icon Name="IconName.Box" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/client-info">Category</Button>
                        </CardBody>
                    </Card>
                </td>
            </tr>
            <tr>
                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/contactbook"))">
                        <CardBody>
                            <Icon Name="IconName.Phone" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/contactbook">Contact Book</Button>
                        </CardBody>
                    </Card>
                </td>
                
                   <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/"))">
                        <CardBody>
                            <Icon Name="IconName.Box" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/map-search">Category</Button>
                        </CardBody>
                    </Card>
                </td>

                <td>
                    <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" Class="mb-4" Style="width:18rem;" @onclick="@(() => _nav.NavigateTo("/"))">
                        <CardBody>
                            <Icon Name="IconName.Box" Size="IconSize.x1" Color="IconColor.Light" />
                            <br>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/client-info">Category</Button>
                        </CardBody>
                    </Card>
                </td>
            </tr>
        </table>
    </div>
    
</div>


@code {

    private Funeral currentFuneral = new();

    private User currentUser = new();

    double taskProgress = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await _storage.GetAsync<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get the currently accessed funeral from browser storage
                currentFuneral = await _storage.GetAsync<Funeral>("currentFuneral") ?? new();

                // Get the count of completed tasks and all tasks for the funeral
                var taskCounts = await _tasks.GetCountOfTasksByFuneral(currentFuneral.FuneralId);

                // Calculate the percentage of tasks completed for this funeral
                if (taskCounts.Item2 != 0)
                    taskProgress = (((double)taskCounts.Item1) / ((double)taskCounts.Item2)) * 100;
            }
        }
        StateHasChanged();
    }
}
