@*
    Funeral Landing Page
    3/28/2026
    ======================================
    - Initial page creation
    - Added Task Progress Bar
    ======================================
    Landing page navigated to after selecting a Funeral.
    Category selection page for a Funeral.
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.FuneralService;
@using DataLibrary.ServiceLayer.TaskService;
@using DataLibrary.ServiceLayer.UserService;
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject IFuneralService _funeral
@inject ITaskService _tasks
@inject IUserService _user

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/funeral"

<div class="page-container">

    <div class="header-row">

        <!-- Page Headers -->
        <h1>Funeral  for  @currentFuneral.DeceasedName</h1>

        <!-- Button to return to Funeral Selection page -->
        <Button Type="ButtonType.Link" Style="font-size: 18px;" To="/funeral-selection">Back to Funeral Selection</Button>

    </div>

    <!-- Progress Bar for Showing Percentage of Task Completion -->
    <Progress Class="mb-3">
        <ProgressBar Width="@(taskProgress)" Label="@($"{(int)taskProgress}%")" Type="ProgressType.StripedAndAnimated" Color="ProgressColor.Dark" />
    </Progress>

    <!-- Category Selection Icon Grid -->
    <div class="grid-container">

        <table class="icon-grid">

            <tr>

                <td>
                    <div align ="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/Funeral Info"))">
                            <CardBody>
                                <Icon Name="IconName.InfoCircleFill" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Funeral Info </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>

                <td>
                    <div align ="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/scheduler"))">
                            <CardBody>
                                <Icon Name="IconName.Calendar" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Schedule </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>

                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/Vendors"))">
                            <CardBody>
                                <Icon Name="IconName.Shop" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Vendors </text>
                            </CardBody>
                        </Card>
                    </div> 
                </td>
                
            </tr>
            <tr>
                
                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/Venue"))">
                            <CardBody>
                                <Icon Name="IconName.Building" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Venue </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>
                
                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/Body Preparation"))">
                            <CardBody>
                                <Icon Name="IconName.Person" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Body Preparation </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>

                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/Post-Service"))">
                            <CardBody>
                                <Icon Name="IconName.DoorClosed" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Post-Service </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>

            </tr>
            <tr>

                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/contactbook"))">
                            <CardBody>
                                <Icon Name="IconName.Phone" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Contact Book </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>
                
                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/doc-library"))">
                            <CardBody>
                                <Icon Name="IconName.Book" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Document Library </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>

                <td>
                    <div align="center">
                        <Card Color="CardColor.Dark" TextAlignment="Alignment.Center" class="category-card" @onclick="@(() => _nav.NavigateTo("/settings"))">
                            <CardBody>
                                <Icon Name="IconName.Gear" Size="IconSize.x1" Color="IconColor.Light" />
                                <br>
                                <text class="label"> Settings </text>
                            </CardBody>
                        </Card>
                    </div>
                </td>

            </tr>

        </table>

    </div>
    
</div>


@code {

    private Funeral currentFuneral = new();

    private User? currentUser;

    double taskProgress = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get the current user from browser storage
            currentUser = await _storage.GetFromStorage<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get the currently accessed funeral from browser storage
                currentFuneral = await _storage.GetFromStorage<Funeral>("currentFuneral") ?? new();

                // Get the count of completed tasks and all tasks for the funeral
                var taskCounts = await _tasks.GetCountOfTasksByFuneral(currentFuneral.FuneralId);

                // Calculate the percentage of tasks completed for this funeral
                if (taskCounts.Item2 != 0)
                    taskProgress = (((double)taskCounts.Item1) / ((double)taskCounts.Item2)) * 100;
            }
        }
        StateHasChanged();
    }
}
