@*
    Funeral Info Page
    3/28/2026
    ======================================
    - Initial page creation
    - Added saving functionality for funeral info and funeral deletion
    ======================================
    Category page for Funeral Information
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.TaskService;
@using DataLibrary.ServiceLayer.FuneralService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject ITaskService _task
@inject IFuneralService _funeral

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/Funeral Info"

<!-- Screen Message Modal -->
<ScreenModal @ref="modal" TitleText="@modalTitle" BodyText="@modalBody" URL="@modalURL" />


<!-- Modal for Confirming the Deletion of the Funeral -->
<DecisionModal @ref="confirmationModal"
             TitleText="Confirm Deletion?"
             MiddleText="Please confirm that you would like to delete this funeral. This action cannot be undone."
             Buttons="@modalButtons" />


<div class="page-container">

    <div class="header-row">

        <h1>Funeral Info</h1>

        <!-- Back button to return to category selection/funeral landing page -->
        <Button Type="ButtonType.Link" Style="font-size: 18px;" To="/funeral">Back to Category Selection</Button>

    </div>

    <div class="tabs-container">

        <Tabs>

            <Tab Title="Tasks">

                <Content>

                    <!-- Task Table for Basic Funeral Tasks -->
                    <TaskTable 
                        FuneralId="@currentFuneral.FuneralId"
                        Category="Funeral Info" />
                    
                </Content>

            </Tab>

            <Tab Title="Info" >

                <Content>

                    <div class="info-tab">

                        <div class="left-side">

                            <table style="width: 98%;">

                                <colgroup>
                                    <col span="1" style="width: 30%" />
                                </colgroup>
                                <colgroup>
                                    <col span="1" style="width: 70%" />
                                </colgroup>

                                <!-- NAME OF DECEASED -->
                                <tr>
                                    <td style="display: flex; vertical-align: top;">
                                        <label>Name of Deceased</label>
                                    </td>

                                    <td>
                                        <!-- Input field for the Name of Deceased -->
                                        <input type="text"
                                               style="width: 95%; height: 4vh;"
                                               placeholder="Enter the name of the deceased..."
                                               @bind=@(currentFuneral.DeceasedName) />
                                    </td>
                                </tr>

                                <!-- PLANNED LOCATION OF FUNERAL SERVICE -->
                                <tr>
                                    <td>
                                        <label>Location of Service</label>
                                    </td>

                                    <td>
                                        <!-- Input field for Location of the Funeral Service -->
                                        <input type="text"
                                               style="width: 95%; height: 4vh;"
                                               placeholder="Enter the location of the service..."
                                               @bind=@(currentFuneral.Location) />
                                    </td>
                                </tr>

                                <!-- PLANNED DATE OF FUNERAL SERVICE -->
                                <tr>
                                    <td>
                                        <label>Date of Service</label>
                                    </td>

                                    <td>
                                        <!-- Time Picker Input for the Date of Funeral Service -->
                                        <input type="datetime-local"
                                               style="width: 40%; height: 4vh;"
                                               @bind="@currentFuneral.DateOfService"
                                               ShowSeconds="false" />
                                    </td>
                                </tr>

                            </table>

                        </div>

                        <div class="right-side">

                            <!-- OBITUARY FOR FUNERAL SERVICE -->
                            <text id="ob-label">Obituary</text>

                            <!-- Input field for Location of the Funeral Service -->
                            <textarea type="text"
                                      id="ob-field"
                                      placeholder="Use this space to write the obituary..."
                                      @bind=@(currentFuneral.Obituary) />                         
                        </div>

                    </div>

                    <div class="buttons">

                        <!-- Delete Funeral Button -->
                        <Button Color="ButtonColor.Danger" @onclick="async () => { await confirmationModal.OnShowModalClick(); }">Delete this Funeral</Button>

                        <!-- Archive/Unarchive Funeral Button -->
                        <Button Color="ButtonColor.Secondary" @onclick="HandleArchive">@(currentFuneral.IsArchived ? "Unarchive" : "Archive")</Button>

                        <!-- Save Funeral Info Button -->
                        <Button Color="ButtonColor.Primary" @onclick="HandleSave">Save Funeral Info</Button>

                    </div>
                    
                </Content>

            </Tab>

        </Tabs>

    </div> 

</div>

@code {

    private Funeral currentFuneral = new();

    private User? currentUser;

    #region[MODAL]
    private ScreenModal modal = default!;
    private DecisionModal confirmationModal = default!;
    private string modalTitle = string.Empty;
    private string modalBody = string.Empty;
    private string modalURL = string.Empty;

    // Buttons container for the deletion confirmation modal
    private Dictionary<string, (Func<Task>, BlazorBootstrap.ButtonColor)> modalButtons = new();

    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get the current user from browser storage
            currentUser = await _storage.GetFromStorage<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get the selected Funeral from browser storage
                currentFuneral = await _storage.GetFromStorage<Funeral>("currentFuneral") ?? new();

                // Set the buttons for the deletion confirmation modal
                modalButtons = new Dictionary<string, (Func<Task>, BlazorBootstrap.ButtonColor)>
                {
                    // Button for cancelling the deletion
                    ["Cancel"] =
                    (
                        async () => { await confirmationModal.OnHideModalClick(); },
                        ButtonColor.Secondary
                    ),

                    // Button for proceeding with the deletion
                    ["Delete"] =
                    (
                        async () => { await confirmationModal.OnHideModalClick(); await HandleDeletion(); },
                        ButtonColor.Danger
                    )
                };
            }
        }
        StateHasChanged();
    }

    // Handle saving funeral info
    private async Task HandleSave()
    {
        // Display an error message to the user if they attempt to save the funeral info without entering a description
        if (string.IsNullOrWhiteSpace(currentFuneral.DeceasedName))
        {
            modalTitle = "Error";
            modalBody = "Name of Deceased cannot be empty. Please enter a name and try again.";
            await modal.OnShowModalClick();
            return;
        }

        // Update the funeral
        var result = await _funeral.UpdateFuneral(currentFuneral);

        if (result is not null)
        {
            // update the funeral in browser storage
            await _storage.SetInStorage("currentFuneral", result);

            // Display success message to user and redirect them back to the category page
            modalTitle = "Save Successful";
            modalBody = "The funeral info has been saved successfully.";
            modalURL = "/funeral";
            await modal.OnShowModalClick();
        }
        else
        {
            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the funeral info was not updated.";
            await modal.OnShowModalClick();
        }
    }

    // Handle archiving the funeral
    private async Task HandleArchive()
    {
        // Display an error message to the user if they attempt to save the funeral info without entering a description
        if (string.IsNullOrWhiteSpace(currentFuneral.DeceasedName))
        {
            modalTitle = "Error";
            modalBody = "Name of Deceased cannot be empty. Please enter a name and try again.";
            await modal.OnShowModalClick();
            return;
        }

        // Switch the value of the IsArchived boolean
        currentFuneral.IsArchived = !currentFuneral.IsArchived;

        // Update the funeral
        var result = await _funeral.UpdateFuneral(currentFuneral);

        if (result is not null)
        {
            // update the funeral in browser storage
            await _storage.SetInStorage("currentFuneral", result);

            // Display success message to user and redirect them back to the category page
            modalTitle = "Success";
            if (result.IsArchived)
            {
                modalBody = "The funeral has been archived.";
                modalURL = $"/funeral-selection";
            }
            else
                modalBody = "The funeral has been unarchived.";

            await modal.OnShowModalClick();
        }
        else
        {
            // Switch the value of the IsArchived boolean back to its original value so it doesn't appear changed in the UI
            currentFuneral.IsArchived = !currentFuneral.IsArchived;

            // Display error message to user
            modalTitle = "Error";
            modalBody = $"An error occurred and the funeral was not updated.";
            await modal.OnShowModalClick();
        }
    }

    // Handle the deletion of the funeral
    private async Task HandleDeletion()
    {
        var result = await _funeral.DeleteFuneral(currentFuneral.FuneralId);

        if (result)
        {   // Funeral Deletion Successful

            // Display confimation message to user
            modalTitle = "Deletion Confirmed";
            modalBody = "The funeral has been deleted.";
            modalURL = $"/funeral-selection";
            await modal.OnShowModalClick();
        }
        else
        {   // Funeral Deletion Failed

            // Display error message to user
            modalTitle = "Error";
            modalBody = "An error occurred and the funeral was not deleted.";
            await modal.OnShowModalClick();
        }
    }
}
