@*
    User Sign-Up Page
    3/13/2026
    ======================================
    - Initial page creation
    - Added Sign Up funcitonality and input field validation
    ======================================
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.UserService;
@using System.ComponentModel.DataAnnotations;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Injections -->
@inject IUserService _user
@inject BrowserStorageService _storage
@inject NavigationManager _nav

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout SignedOutLayout

<!-- Link to the page -->
@page "/signup"

<!-- Screen Message Modal for account creation errors -->
<ScreenModal @ref="modal" TitleText="@modalTitle" BodyText="@modalBody" />

<!-- Page Title -->
<div class="signed-out-title">

    <h1 class="title">NextSteps</h1>

    <h1>Sign-Up</h1>

</div>

<!-- Sign in Form -->
<EditForm EditContext="editContext" OnValidSubmit="HandleRegister" FormName="signInForm" style="width: 500px; margin-top: 10%;">
    <DataAnnotationsValidator />

    <div class="input-field">
        <!-- First Name input field -->
        <InputText @bind-Value="user.FirstName" style="height: 4vh; width: 100%" class="form-field" placeholder="First Name" />
        <ValidationMessage For="() => user.FirstName" />
    </div>

    <div class="input-field">
        <!-- Last Name input field -->
        <InputText @bind-Value="user.LastName" style="height: 4vh; width: 100%" class="form-field" placeholder="Last Name" />
        <ValidationMessage For="() => user.LastName" />
    </div>

    <div class="input-field">
        <!-- Email input field -->
        <InputText @bind-Value="user.Email" style="height: 4vh; width: 100%" class="form-field" placeholder="Email" />
        <ValidationMessage For="() => user.Email" />
    </div>

    <div class="input-field">
        <!-- Password input field-->
        <InputText @bind-Value="user.Password" style="height: 4vh; width: 100%" class="form-field" type="@pwVisibility" placeholder="Password" />
        <ValidationMessage For="() => user.Password" />
    </div>

    <div class="input-field">
        <!-- Password input confirmation field-->
        <InputText @bind-Value="user.ConfirmPassword" style="height: 4vh; width: 100%" class="form-field" type="@pwVisibility" placeholder="Confirm Password" />
        <ValidationMessage For="() => user.ConfirmPassword" />
    </div>

    <!--A checkbox; if checked off, the input in the password field is visible-->
    <div id="chkbx">
        <input type="checkbox" id="show-password" @onclick="@(() => { showPassword = !showPassword; pwVisibility = showPassword ? "text" : "password"; })">
        <label for="show-password"> Show </label>
    </div>

    <div class="btm-buttons">
        <!-- Register button -->
        <Button type="ButtonType.Submit" Style="width: 175px;" Color="ButtonColor.Primary">Register</Button>
            
        <!-- Clear Form button -->
        <Button Color="ButtonColor.Secondary" Style="width: 175px;" @onclick="() => { user = new(); editContext = new EditContext(user); }">Clear Form</Button>
    </div>
</EditForm>

<!-- Link to the Sign In page -->
<p><i>Already have an account?</i> <a href="/">Sign In</a> </p>


@code {

    private EditContext? editContext;
    private SignUpModel user = new SignUpModel();

    private bool showPassword = false;
    private string pwVisibility = "password";

    private ScreenModal modal = default!;
    private string modalTitle = string.Empty;
    private string modalBody = string.Empty;


    // Model for validating fields during user registration
    public record SignUpModel : IValidatableObject
    {
        [Required(ErrorMessage = "Please input a name.")]
        public string? FirstName { get; set; }
        public string? LastName { get; set; }

        [Required(ErrorMessage = "Please input an email address.")]
        [EmailAddress(ErrorMessage = "Please input a valid email address.")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Please input a password.")]
        public string Password { get; set; } = "";

        [Required(ErrorMessage = "Please verify the password.")]
        public string? ConfirmPassword { get; set; }

        public IEnumerable<ValidationResult> Validate(ValidationContext validationContext)
        {
            if (Password != ConfirmPassword)
            {
                yield return new ValidationResult(
                    "Passwords do not match.",
                    new[] { nameof(ConfirmPassword) }
                );
            }
        }
    }


    #region[METHODS]

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(user);
    }

    // Handle user registration
    private async Task HandleRegister()
    {
        // Check if the input email address already exists in the user table in the database
        var emailExists = await _user.ValidateEmail(user.Email);

        // Block registration if an account under that email already exists
        if (emailExists)
        {
            modalTitle = "Registration Failed";
            modalBody = "An account already exists with the entered email.";
            await modal.OnShowModalClick();
        }
        else
        {
            // Create the user in the database
            var result = await _user.RegisterUser
            (
                new User
                {
                    FirstName = user.FirstName,
                    LastName = user.LastName,
                    Email = user.Email,
                    Password = user.Password
                }
            );

            if (result is not null)
            {
                // set the new user in storage and sign them in
                await _storage.SetInStorage("currentUser", result);

                _nav.NavigateTo("/funeral-selection");
            }
            else
            {   // Account registration failed, show the user an error message
                modalTitle = "Registration Failed";
                modalBody = "An error occurred during account creation. Please check your credentials and try again.";
                await modal.OnShowModalClick();
            }
        }
    }
    #endregion
}
