@*
    Vendors Page
    3/28/2026
    ======================================
    - Initial page creation
    ======================================
    Category page for External Vendor Tasks
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.TaskService;
@using DataLibrary.ServiceLayer.FuneralService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject ITaskService _task
@inject IFuneralService _funeral

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/Vendors"
@page "/Vendors-{Category}"

<!-- Screen Message Modal -->
<ScreenModal @ref="modal" TitleText="@modalTitle" BodyText="@modalBody" URL="@modalURL" />

<div class="page-container">

    <div class="header-row">

        <!-- Page Title -->
        <h1>Vendors</h1>

        <!-- Back button to return to category selection/funeral landing page -->
        <Button Type="ButtonType.Link" Style="font-size: 18px;" To="/funeral">Back to Category Selection</Button>

    </div>

    <div class="tabs-container">
        <Tabs @ref="tabs">

            <!-- FLORIST TAB -->
            <Tab Title="Floralist">
                <Content>

                    <!-- Task Table Component for Florist Tasks -->
                    <TaskTable 
                        FuneralId="@currentFuneral.FuneralId"
                        Category="Florist"/>
                    
                </Content>
            </Tab>

            <!-- PHOTOGRAPHY TAB -->
            <Tab Title="Photography">
                <Content>

                    <!-- Task Table Component for Photography Tasks -->
                    <TaskTable 
                        FuneralId="@currentFuneral.FuneralId"
                        Category="Photography" />
                    
                </Content>
            </Tab>

            <!-- CATERING TAB -->
            <Tab Title="Catering">
                <Content>

                    <!-- Task Table Component for Catering Tasks -->
                    <TaskTable 
                        FuneralId="@currentFuneral.FuneralId"
                        Category="Catering"/>
                    
                </Content>
            </Tab>

            <!-- MUSIC TAB -->
            <Tab Title="Music">
                <Content>

                    <!-- Task Table Component for Music Tasks-->
                    <TaskTable 
                        FuneralId="@currentFuneral.FuneralId"
                        Category="Music"/>
                    
                </Content>
            </Tab>
        </Tabs>

    </div> 

</div>

@code {

    [Parameter]
    public string? Category { get; set; }

    Tabs tabs = default!;

    private Funeral currentFuneral = new();

    private User? currentUser;

    #region[MODAL]
    private ScreenModal modal = default!;
    private string modalTitle = string.Empty;
    private string modalBody = string.Empty;
    private string modalURL = string.Empty;
    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get the current user from browser storage
            currentUser = await _storage.GetFromStorage<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get the selected Funeral from browser storage
                currentFuneral = await _storage.GetFromStorage<Funeral>("currentFuneral") ?? new();
            }

            // If the category is Vendors, open to the tab of the type of vendor if specified in the URL
            if (Category is not null)
            {
                switch (Category)
                {
                    case "Florist":
                        await tabs.ShowTabByIndexAsync(0);
                        break;
                    case "Photography":
                        await tabs.ShowTabByIndexAsync(1);
                        break;
                    case "Catering":
                        await tabs.ShowTabByIndexAsync(2);
                        break;
                    case "Music":
                        await tabs.ShowTabByIndexAsync(3);
                        break;
                    default:
                        await tabs.ShowTabByIndexAsync(0);
                        break;
                }
            }
        }
        // Rerender the page
        StateHasChanged();
    }
}
